@{
    ViewData["Title"] = "Fuel Cart Landing";
}

<h3>Cart Status:</h3>
<div class="row">
    <div class="col-sm-12">
        @(await Component.InvokeAsync("CartStatusGridView"))
    </div>
</div>
<h3>Transactions:</h3>
<div class="row">
    <div class="col-sm-12">
        @(await Component.InvokeAsync("CartTransactions"))
    </div>
</div>